.App {
  margin: 50px;
}

.search {
  padding: 10px;
  font-size: 20px;
  margin-left: 37%;
}

.list {
  padding: 0px;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}